name: Metrics
on:
  schedule: [{ cron: "0 0 * * *" }]
  workflow_dispatch:
  push: { branches: ["master"] }

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: hxreborn
          template: classic
          filename: metrics.svg

          base: header, metadata
          repositories_forks: no
          commits_authoring: ${{ secrets.COMMITS_AUTHORING }}

          plugin_languages: yes
          plugin_languages_limit: 8
          plugin_languages_sections: most-used
          plugin_languages_details: percentage
          plugin_languages_indepth: yes
          plugin_languages_analysis_timeout: 60
          plugin_languages_analysis_timeout_repositories: 15
          plugin_languages_ignored: rust

          plugin_notable: yes
          plugin_notable_from: organization
          plugin_notable_repositories: no
          plugin_notable_indepth: no
          plugin_notable_types: pull_request
          plugin_notable_skipped: |
            @use.patterns
            Xposed-Modules-Repo/*

          plugin_isocalendar: yes
          plugin_isocalendar_duration: full-year

          config_output: markdown-details
          debug: yes

          repositories_skipped: |
            peak/s5cmd
            hxreborn/android_kernel_google_zumapro
            hxreborn/KernelSU
            hxreborn/kernel_oneplus_sdm845
            hxreborn/revanced-magisk-module
            hxreborn/sketchybar-config
            hxreborn/dotfiles
            hxreborn/neovim
            hxreborn/biometric-bypass
            hxreborn/revanced-research
            hxreborn/HyDE
            hxreborn/metrics
            hxreborn/revanced-patches
            hxreborn/codex
            hxreborn/cloudflared
            hxreborn/openai-agents-python
            hxreborn/revanced-integrations
            hxreborn/telegram-android
            hxreborn/hyde-ipc
            hxreborn/InstallerPlus
            hxreborn/exit0-phd
