name: Metrics
on:
  schedule: [{ cron: "0 0 * * *" }]
  workflow_dispatch:
  push: { branches: ["master"] }

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: docker://ghcr.io/hxreborn/metrics:latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: hxreborn
          template: classic
          filename: metrics.svg

          base: header, metadata

          plugin_languages: yes
          plugin_languages_limit: 8
          plugin_languages_sections: most-used, recently-used
          plugin_languages_details: percentage
          plugin_languages_indepth: yes
          plugin_languages_analysis_timeout: 45
          plugin_languages_analysis_timeout_repositories: 10
          plugin_languages_recent_load: 150
          plugin_languages_recent_days: 14
          plugin_languages_ignored: smali, rust

          plugin_notable: yes
          plugin_notable_from: organization
          plugin_notable_repositories: no
          plugin_notable_indepth: no
          plugin_notable_types: pull_request
          plugin_notable_skipped: |
            @use.patterns
            Xposed-Modules-Repo/*

          plugin_isocalendar: yes
          plugin_isocalendar_duration: full-year

          config_output: markdown-details

          repositories_skipped: |
            peak/s5cmd
            hxreborn/android_kernel_google_zumapro
            hxreborn/KernelSU
            hxreborn/kernel_oneplus_sdm845
            hxreborn/revanced-magisk-module
            hxreborn/sketchybar-config
            hxreborn/dotfiles
            hxreborn/neovim
